In [1]:
import numpy as np
import pandas as pd
import fire
import matplotlib.pyplot as plt
import torch
import torch.optim.swa_utils as swa_utils
import torchcde
import torchsde
import tqdm
import model4
from model4 import Generator, Discriminator
import json

In [2]:
demographic = pd.read_csv('demographic.csv')
labs = pd.read_csv('labs.csv')
quest = pd.read_csv('questionnaire.csv')
exam = pd.read_csv('examination.csv')
diet = pd.read_csv('diet.csv')

*Next step:* Hem de triar, pel dataset de demographic i pel de labs, algunes de les columnes. Pel de demographic, a vista, i pel de labs, les de l'excel amb les components d'un blood test.

In [3]:
demographic

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1,112,4.0,4.0,0.84
1,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1,108,7.0,7.0,1.78
2,73559,8,2,1,72,NaN,3,3,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1,109,10.0,10.0,4.51
3,73560,8,2,1,9,NaN,3,3,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2,109,9.0,9.0,2.52
4,73561,8,2,2,73,NaN,3,3,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2,116,15.0,15.0,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10170,83727,8,2,1,26,NaN,2,2,2.0,NaN,...,3.0,NaN,NaN,27141.631824,28115.568221,1,104,77.0,77.0,NaN
10171,83728,8,2,2,2,24.0,1,1,2.0,24.0,...,3.0,1.0,3.0,15274.475360,16512.138781,1,107,8.0,8.0,1.95
10172,83729,8,2,2,42,NaN,4,4,2.0,NaN,...,5.0,3.0,NaN,24122.248900,26902.344381,1,104,7.0,7.0,3.66
10173,83730,8,2,1,7,NaN,2,2,1.0,84.0,...,4.0,1.0,3.0,25521.878546,26686.025573,2,109,6.0,6.0,1.05
10174,83731,8,2,1,11,NaN,5,6,1.0,140.0,...,5.0,1.0,5.0,8930.180154,9700.873491,2,106,15.0,15.0,5.00

In [4]:
# demographic = demographic[['SEQN','DMDBORN4','RIDAGEYR','RIAGENDR','RIDEXPRG','RIDRETH3']]
# demographic

In [5]:
# demographic.rename(columns={'SEQN':'id','DMDBORN4':'country','RIDAGEYR':'age_years','RIAGENDR':'gender',
#                     'RIDEXPRG':'pregnancy_status','RIDRETH3':'race'},inplace=True)

In [6]:
# demographic.isnull().sum()

In [7]:
# demographic['pregnancy_status']=demographic['pregnancy_status'].fillna(0)
# demographic['pregnancy_status']=demographic['pregnancy_status'].astype(np.int64)

In [8]:
quest = quest[['SEQN','MCQ160B','MCQ160C','MCQ160E','MCQ160F']]
quest

        SEQN  MCQ160B  MCQ160C  MCQ160E  MCQ160F
0      73557      2.0      2.0      2.0      1.0
1      73558      2.0      2.0      2.0      2.0
2      73559      2.0      2.0      2.0      2.0
3      73560      NaN      NaN      NaN      NaN
4      73561      2.0      2.0      2.0      2.0
...      ...      ...      ...      ...      ...
10170  83727      2.0      2.0      2.0      2.0
10171  83728      NaN      NaN      NaN      NaN
10172  83729      2.0      2.0      2.0      2.0
10173  83730      NaN      NaN      NaN      NaN
10174  83731      NaN      NaN      NaN      NaN

[10175 rows x 5 columns]

In [9]:
quest.isnull().sum()

SEQN          0
MCQ160B    4406
MCQ160C    4406
MCQ160E    4406
MCQ160F    4406
dtype: int64

In [10]:
quest.dropna(axis=0, inplace=True)

In [11]:
quest

        SEQN  MCQ160B  MCQ160C  MCQ160E  MCQ160F
0      73557      2.0      2.0      2.0      1.0
1      73558      2.0      2.0      2.0      2.0
2      73559      2.0      2.0      2.0      2.0
4      73561      2.0      2.0      2.0      2.0
5      73562      2.0      1.0      1.0      2.0
...      ...      ...      ...      ...      ...
10166  83723      2.0      2.0      2.0      2.0
10167  83724      2.0      2.0      2.0      2.0
10169  83726      2.0      2.0      2.0      2.0
10170  83727      2.0      2.0      2.0      2.0
10172  83729      2.0      2.0      2.0      2.0

[5769 rows x 5 columns]

In [12]:
df1 = quest.merge(demographic, on='SEQN', how='left')
df1

,SEQN,MCQ160B,MCQ160C,MCQ160E,MCQ160F,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,2.0,2.0,2.0,1.0,8,2,1,69,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1,112,4.0,4.0,0.84
1,73558,2.0,2.0,2.0,2.0,8,2,1,54,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1,108,7.0,7.0,1.78
2,73559,2.0,2.0,2.0,2.0,8,2,1,72,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1,109,10.0,10.0,4.51
3,73561,2.0,2.0,2.0,2.0,8,2,2,73,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2,116,15.0,15.0,5.00
4,73562,2.0,1.0,1.0,2.0,8,2,1,56,NaN,...,4.0,3.0,NaN,24978.144602,25344.992359,1,111,9.0,9.0,4.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,83723,2.0,2.0,2.0,2.0,8,2,1,61,NaN,...,2.0,1.0,3.0,11140.687817,11179.994842,1,109,10.0,10.0,3.53
5765,83724,2.0,2.0,2.0,2.0,8,2,1,80,NaN,...,3.0,1.0,4.0,28323.849076,29383.486541,1,117,8.0,8.0,3.09
5766,83726,2.0,2.0,2.0,2.0,8,2,1,40,NaN,...,1.0,3.0,NaN,45268.572702,49177.291000,2,115,9.0,9.0,3.81
5767,83727,2.0,2.0,2.0,2.0,8,2,1,26,NaN,...,3.0,NaN,NaN,27141.631824,28115.568221,1,104,77.0,77.0,NaN
5768,83729,2.0,2.0,2.0,2.0,8,2,2,42,NaN,...,5.0,3.0,NaN,24122.248900,26902.344381,1,104,7.0,7.0,3.66

In [13]:
# labs = labs[['SEQN','LBDHDDSI','LBDTCSI',
#       'LBXSUA','LBXSATSI','LBXSASSI','LBDSTPSI','LBDSALSI','LBXSTB','LBXHGB','LBXHCT',
#       'LBXRBCSI','LBXMCVSI','LBXMCHSI','LBXMC','LBXWBCSI','LBDNENO','LBDLYMNO','LBDMONO',
#       'LBDEONO','LBDBANO','LBDSIRSI','LBXPLTSI']]
# labs

In [14]:
df2 = df1.merge(labs, on='SEQN', how='left')
df2

,SEQN,MCQ160B,MCQ160C,MCQ160E,MCQ160F,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,...,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12,LBDB12SI
0,73557,2.0,2.0,2.0,1.0,8,2,1,69,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,524.0,386.7
1,73558,2.0,2.0,2.0,2.0,8,2,1,54,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507.0,374.2
2,73559,2.0,2.0,2.0,2.0,8,2,1,72,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,732.0,540.2
3,73561,2.0,2.0,2.0,2.0,8,2,2,73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.0,166.1
4,73562,2.0,1.0,1.0,2.0,8,2,1,56,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,750.0,553.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,83723,2.0,2.0,2.0,2.0,8,2,1,61,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621.0,458.3
5765,83724,2.0,2.0,2.0,2.0,8,2,1,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,837.0,617.7
5766,83726,2.0,2.0,2.0,2.0,8,2,1,40,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5767,83727,2.0,2.0,2.0,2.0,8,2,1,26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,720.0,531.4
5768,83729,2.0,2.0,2.0,2.0,8,2,2,42,NaN,...,0.135,0.0,0.132,0.0,0.0081,0.0,2.0,9.75,388.0,286.3

In [15]:
df3 = df2.merge(exam, on='SEQN', how='left')
df3

,SEQN,MCQ160B,MCQ160C,MCQ160E,MCQ160F,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,...,CSXLEAOD,CSXSOAOD,CSXGRAOD,CSXONOD,CSXNGSOD,CSXSLTRT,CSXSLTRG,CSXNART,CSXNARG,CSAEFFRT
0,73557,2.0,2.0,2.0,1.0,8,2,1,69,NaN,...,2.0,1.0,1.0,1.0,4.0,62.0,1.0,NaN,NaN,1.0
1,73558,2.0,2.0,2.0,2.0,8,2,1,54,NaN,...,3.0,1.0,2.0,3.0,4.0,28.0,1.0,NaN,NaN,1.0
2,73559,2.0,2.0,2.0,2.0,8,2,1,72,NaN,...,2.0,1.0,2.0,3.0,4.0,49.0,1.0,NaN,NaN,3.0
3,73561,2.0,2.0,2.0,2.0,8,2,2,73,NaN,...,3.0,1.0,4.0,3.0,4.0,NaN,NaN,NaN,NaN,1.0
4,73562,2.0,1.0,1.0,2.0,8,2,1,56,NaN,...,3.0,1.0,2.0,3.0,4.0,21.0,1.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,83723,2.0,2.0,2.0,2.0,8,2,1,61,NaN,...,3.0,1.0,2.0,3.0,4.0,NaN,NaN,15.0,1.0,2.0
5765,83724,2.0,2.0,2.0,2.0,8,2,1,80,NaN,...,3.0,1.0,4.0,3.0,1.0,20.0,1.0,NaN,NaN,1.0
5766,83726,2.0,2.0,2.0,2.0,8,2,1,40,NaN,...,1.0,1.0,2.0,3.0,4.0,NaN,NaN,43.0,1.0,1.0
5767,83727,2.0,2.0,2.0,2.0,8,2,1,26,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5768,83729,2.0,2.0,2.0,2.0,8,2,2,42,NaN,...,1.0,1.0,1.0,3.0,4.0,55.0,1.0,NaN,NaN,3.0

In [16]:
df = df3.merge(diet, on='SEQN', how='left')
df

,SEQN,MCQ160B,MCQ160C,MCQ160E,MCQ160F,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,73557,2.0,2.0,2.0,1.0,8,2,1,69,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558,2.0,2.0,2.0,2.0,8,2,1,54,NaN,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,73559,2.0,2.0,2.0,2.0,8,2,1,72,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73561,2.0,2.0,2.0,2.0,8,2,2,73,NaN,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
4,73562,2.0,1.0,1.0,2.0,8,2,1,56,NaN,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,83723,2.0,2.0,2.0,2.0,8,2,1,61,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5765,83724,2.0,2.0,2.0,2.0,8,2,1,80,NaN,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
5766,83726,2.0,2.0,2.0,2.0,8,2,1,40,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5767,83727,2.0,2.0,2.0,2.0,8,2,1,26,NaN,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
5768,83729,2.0,2.0,2.0,2.0,8,2,2,42,NaN,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0

In [17]:
def conditions(s):
    if (s['MCQ160B'] == 1) or (s['MCQ160C'] == 1) or (s['MCQ160E'] ==1) or (s['MCQ160F']==1):
        return 1
    else:
        return 0

df['target'] = df.apply(conditions, axis=1)

In [18]:
df

,SEQN,MCQ160B,MCQ160C,MCQ160E,MCQ160F,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,...,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V,target
0,73557,2.0,2.0,2.0,1.0,8,2,1,69,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,73558,2.0,2.0,2.0,2.0,8,2,1,54,NaN,...,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,0
2,73559,2.0,2.0,2.0,2.0,8,2,1,72,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,73561,2.0,2.0,2.0,2.0,8,2,2,73,NaN,...,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,0
4,73562,2.0,1.0,1.0,2.0,8,2,1,56,NaN,...,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,83723,2.0,2.0,2.0,2.0,8,2,1,61,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5765,83724,2.0,2.0,2.0,2.0,8,2,1,80,NaN,...,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,0
5766,83726,2.0,2.0,2.0,2.0,8,2,1,40,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5767,83727,2.0,2.0,2.0,2.0,8,2,1,26,NaN,...,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,0
5768,83729,2.0,2.0,2.0,2.0,8,2,2,42,NaN,...,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,0

##### We filter the columns based on figure 8 of https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6836338/pdf/12911_2019_Article_918.pdf

In [19]:
df['diastolic-BP'] = df[['BPXDI1', 'BPXDI2','BPXDI3']].mean(axis=1)

In [20]:
df['systolic-BP'] = df[['BPXSY1','BPXSY2','BPXSY3']].mean(axis=1)

In [21]:
df_final=df[['SEQN','RIDAGEYR','diastolic-BP','LBDHDDSI','DR1TKCAL','LBDNENO','systolic-BP','DR1TCALC','LBDMONO','LBDLYMNO','LBDTCSI','LBXSUA','LBXSATSI','LBXSASSI','LBDEONO','LBDSTPSI','LBDSALSI','LBXSTB','LBXHGB','LBXHCT','LBXRBCSI','LBXMCVSI','LBXMCHSI','LBXMC','LBXWBCSI','LBDSIRSI','LBXPLTSI','target']]

In [22]:
df_final.rename(columns={'SEQN':'id','RIDAGEYR':'age_years',
                            'LBDHDDSI':'HDL-cholesterol','LBDTCSI':'total-cholesterol',
                            'LBXSUA':'uric-acid',
                            'DR1TKCAL':'Kcal-intake',
                            'LBDNENO':'segmented-neutrophils',
                            'DR1TCALC':'calcium-intake',
                            'LBDMONO':'Monocyte-number','LBDLYMNO':'Lymphocyte-number',
                            'LBDEONO':'Eosinophils-number','DR2TFIBE':'Fiber-intake',
                            'LBXSATSI':'ALT','LBXSASSI':'AST','LBDSTPSI':'total-protein',
                            'LBDSALSI':'albumin','LBXSTB':'total-bilurubin','LBXHGB':'Hemoglobin',
                            'LBXHCT':'Hydroxycotinine','LBXRBCSI':'red-blood-cells',
                            'LBXMCVSI':'MCV','LBXMCHSI':'MCH','LBXMC':'MCH-conc',
                            'LBXWBCSI':'white-blood-cells',
                            'LBDSIRSI':'iron','LBXPLTSI':'platelet-count'
                           },inplace=True)

C:\Users\alex.padros\AppData\Local\Temp\4\ipykernel_9212\3879575131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.rename(columns={'SEQN':'id','RIDAGEYR':'age_years',

In [23]:
df_final

,id,age_years,diastolic-BP,HDL-cholesterol,Kcal-intake,segmented-neutrophils,systolic-BP,calcium-intake,Monocyte-number,Lymphocyte-number,...,Hemoglobin,Hydroxycotinine,red-blood-cells,MCV,MCH,MCH-conc,white-blood-cells,iron,platelet-count,target
0,73557,69,74.000000,1.68,1574.0,2.0,112.666667,949.0,0.5,2.0,...,15.2,45.4,5.09,89.3,29.9,33.4,4.7,10.4,204.0,1
1,73558,54,61.333333,1.29,5062.0,7.4,157.333333,3193.0,1.0,3.4,...,11.9,36.7,3.84,95.4,31.0,32.5,12.6,14.1,314.0,0
2,73559,72,82.000000,1.55,1743.0,4.9,142.000000,877.0,0.8,1.0,...,17.2,49.9,5.53,90.5,31.1,34.3,7.2,17.6,237.0,0
3,73561,73,86.666667,2.20,1421.0,4.5,137.333333,1410.0,0.5,1.4,...,14.5,43.8,4.72,92.8,30.6,33.0,6.6,16.3,300.0,0
4,73562,56,82.000000,0.98,1785.0,6.5,157.333333,1156.0,0.6,1.6,...,14.2,41.5,4.93,84.1,28.8,34.2,9.4,9.3,249.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,83723,61,64.000000,1.27,2181.0,3.9,140.000000,1414.0,0.8,2.9,...,14.3,40.1,4.05,99.2,35.2,35.5,7.7,15.8,181.0,0
5765,83724,80,67.333333,1.32,2432.0,4.2,166.666667,1068.0,0.6,1.2,...,11.8,34.8,3.72,93.8,31.8,33.9,6.1,15.0,180.0,0
5766,83726,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5767,83727,26,72.666667,1.42,4687.0,2.9,112.666667,3352.0,0.3,1.6,...,14.9,45.1,5.07,88.9,29.3,32.9,5.1,13.1,226.0,0
5768,83729,42,81.333333,1.24,2475.0,3.2,134.666667,1431.0,0.6,2.5,...,12.2,37.1,4.16,89.1,29.2,32.8,6.4,8.8,213.0,0

In [24]:
df_final.columns

Index(['id', 'age_years', 'diastolic-BP', 'HDL-cholesterol', 'Kcal-intake',
       'segmented-neutrophils', 'systolic-BP', 'calcium-intake',
       'Monocyte-number', 'Lymphocyte-number', 'total-cholesterol',
       'uric-acid', 'ALT', 'AST', 'Eosinophils-number', 'total-protein',
       'albumin', 'total-bilurubin', 'Hemoglobin', 'Hydroxycotinine',
       'red-blood-cells', 'MCV', 'MCH', 'MCH-conc', 'white-blood-cells',
       'iron', 'platelet-count', 'target'],
      dtype='object')

In [25]:
df_final.isnull().sum()

id                         0
age_years                  0
diastolic-BP             381
HDL-cholesterol          427
Kcal-intake              722
segmented-neutrophils    390
systolic-BP              381
calcium-intake           722
Monocyte-number          390
Lymphocyte-number        390
total-cholesterol        427
uric-acid                443
ALT                      443
AST                      443
Eosinophils-number       390
total-protein            450
albumin                  441
total-bilurubin          445
Hemoglobin               375
Hydroxycotinine          375
red-blood-cells          375
MCV                      375
MCH                      375
MCH-conc                 375
white-blood-cells        375
iron                     460
platelet-count           375
target                     0
dtype: int64

In [26]:
# This will keep only rows which have nan's less than 6 in the dataframe, 
# and will remove all having nan's > 6.
df_final = df_final[df_final.isnull().sum(axis=1) <= 6]
df_final.isnull().sum()

id                         0
age_years                  0
diastolic-BP             181
HDL-cholesterol            0
Kcal-intake              475
segmented-neutrophils     15
systolic-BP              181
calcium-intake           475
Monocyte-number           15
Lymphocyte-number         15
total-cholesterol          0
uric-acid                  2
ALT                        2
AST                        2
Eosinophils-number        15
total-protein              8
albumin                    0
total-bilurubin            4
Hemoglobin                 0
Hydroxycotinine            0
red-blood-cells            0
MCV                        0
MCH                        0
MCH-conc                   0
white-blood-cells          0
iron                      19
platelet-count             0
target                     0
dtype: int64

In [27]:
for col in df_final.columns:
    df_final[col] = df_final[col].fillna(df_final[col].mean())

C:\Users\alex.padros\AppData\Local\Temp\4\ipykernel_9212\1053446081.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final[col] = df_final[col].fillna(df_final[col].mean())

In [28]:
df_final

,id,age_years,diastolic-BP,HDL-cholesterol,Kcal-intake,segmented-neutrophils,systolic-BP,calcium-intake,Monocyte-number,Lymphocyte-number,...,Hemoglobin,Hydroxycotinine,red-blood-cells,MCV,MCH,MCH-conc,white-blood-cells,iron,platelet-count,target
0,73557,69,74.000000,1.68,1574.0,2.0,112.666667,949.0,0.5,2.0,...,15.2,45.4,5.09,89.3,29.9,33.4,4.7,10.4,204.0,1
1,73558,54,61.333333,1.29,5062.0,7.4,157.333333,3193.0,1.0,3.4,...,11.9,36.7,3.84,95.4,31.0,32.5,12.6,14.1,314.0,0
2,73559,72,82.000000,1.55,1743.0,4.9,142.000000,877.0,0.8,1.0,...,17.2,49.9,5.53,90.5,31.1,34.3,7.2,17.6,237.0,0
3,73561,73,86.666667,2.20,1421.0,4.5,137.333333,1410.0,0.5,1.4,...,14.5,43.8,4.72,92.8,30.6,33.0,6.6,16.3,300.0,0
4,73562,56,82.000000,0.98,1785.0,6.5,157.333333,1156.0,0.6,1.6,...,14.2,41.5,4.93,84.1,28.8,34.2,9.4,9.3,249.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5763,83721,52,72.666667,1.42,1225.0,4.4,109.333333,871.0,0.6,1.4,...,14.4,41.9,4.48,93.6,32.2,34.4,6.8,16.1,152.0,0
5764,83723,61,64.000000,1.27,2181.0,3.9,140.000000,1414.0,0.8,2.9,...,14.3,40.1,4.05,99.2,35.2,35.5,7.7,15.8,181.0,0
5765,83724,80,67.333333,1.32,2432.0,4.2,166.666667,1068.0,0.6,1.2,...,11.8,34.8,3.72,93.8,31.8,33.9,6.1,15.0,180.0,0
5767,83727,26,72.666667,1.42,4687.0,2.9,112.666667,3352.0,0.3,1.6,...,14.9,45.1,5.07,88.9,29.3,32.9,5.1,13.1,226.0,0
5768,83729,42,81.333333,1.24,2475.0,3.2,134.666667,1431.0,0.6,2.5,...,12.2,37.1,4.16,89.1,29.2,32.8,6.4,8.8,213.0,0

In [29]:
df_cvd = df_final[df_final['target']==1]
df_no_cvd = df_final[df_final['target']==0]

In [30]:
df_cvd.describe()

,id,age_years,diastolic-BP,HDL-cholesterol,Kcal-intake,segmented-neutrophils,systolic-BP,calcium-intake,Monocyte-number,Lymphocyte-number,...,Hemoglobin,Hydroxycotinine,red-blood-cells,MCV,MCH,MCH-conc,white-blood-cells,iron,platelet-count,target
count,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,...,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,520.000000,520.0
mean,78784.565385,66.257692,65.936637,1.305673,1910.510463,4.647894,129.052949,835.992555,0.646867,2.072965,...,13.642308,40.489231,4.497519,90.370577,30.494231,33.706923,7.648654,13.917128,215.734615,1.0
std,2963.146755,12.756310,15.512886,0.436873,995.295535,1.797981,20.110309,555.676378,0.213415,2.200679,...,1.674925,4.719753,0.572876,6.314115,3.244489,1.926319,3.057855,6.278281,64.591250,0.0
min,73557.000000,21.000000,0.000000,0.470000,117.000000,0.400000,70.666667,26.000000,0.200000,0.500000,...,8.000000,17.900000,1.670000,61.500000,19.200000,28.000000,2.600000,3.000000,63.000000,1.0
25%,76320.750000,59.000000,58.000000,1.010000,1284.500000,3.500000,116.000000,441.750000,0.500000,1.475000,...,12.600000,37.575000,4.125000,86.900000,29.100000,33.000000,6.000000,9.900000,171.000000,1.0
50%,78790.500000,68.500000,68.000000,1.190000,1824.000000,4.400000,126.000000,782.500000,0.600000,1.900000,...,13.700000,40.700000,4.490000,90.500000,30.700000,33.700000,7.200000,13.100000,207.000000,1.0
75%,81457.750000,78.000000,74.666667,1.530000,2225.750000,5.525000,139.333333,1013.500000,0.800000,2.400000,...,14.700000,43.400000,4.852500,94.600000,32.125000,34.300000,8.800000,16.700000,255.250000,1.0
max,83708.000000,80.000000,104.000000,3.930000,9397.000000,15.800000,228.000000,3971.000000,1.500000,49.000000,...,18.500000,55.100000,8.300000,107.100000,74.500000,69.600000,55.700000,43.000000,444.000000,1.0

In [31]:
df_no_cvd.describe()

,id,age_years,diastolic-BP,HDL-cholesterol,Kcal-intake,segmented-neutrophils,systolic-BP,calcium-intake,Monocyte-number,Lymphocyte-number,...,Hemoglobin,Hydroxycotinine,red-blood-cells,MCV,MCH,MCH-conc,white-blood-cells,iron,platelet-count,target
count,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,...,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.0
mean,78646.766653,47.236053,69.907007,1.372421,2137.165899,4.320333,122.559075,939.005023,0.578645,2.181603,...,14.019109,41.440883,4.665445,89.063801,30.120525,33.795296,7.327165,15.065321,237.354496,0.0
std,2910.167267,16.922490,11.995715,0.415088,977.959317,1.799988,17.032868,570.352867,0.193089,0.727807,...,1.511952,4.085633,0.483443,5.913978,2.402744,0.971172,2.249314,6.441898,59.913675,0.0
min,73558.000000,20.000000,0.000000,0.260000,193.000000,0.600000,64.666667,18.000000,0.100000,0.400000,...,6.400000,21.700000,2.660000,55.700000,16.800000,29.200000,2.500000,1.300000,18.000000,0.0
25%,76127.750000,33.000000,64.000000,1.090000,1507.000000,3.100000,110.666667,555.000000,0.400000,1.700000,...,13.100000,38.800000,4.340000,86.200000,29.000000,33.200000,5.800000,10.700000,197.000000,0.0
50%,78693.000000,46.000000,70.000000,1.320000,2063.500000,4.000000,120.000000,882.000000,0.600000,2.100000,...,14.000000,41.400000,4.650000,89.400000,30.400000,33.800000,7.000000,14.300000,231.000000,0.0
75%,81115.750000,61.000000,76.666667,1.600000,2549.000000,5.100000,131.333333,1151.000000,0.700000,2.600000,...,15.000000,44.300000,4.970000,92.700000,31.600000,34.400000,8.500000,18.600000,271.000000,0.0
max,83729.000000,80.000000,116.666667,4.470000,12108.000000,25.600000,228.666667,7337.000000,3.400000,12.000000,...,19.500000,56.500000,7.550000,115.300000,40.000000,43.500000,31.400000,99.800000,669.000000,0.0

In [32]:
# df_cvd
df_no_cvd.iloc[:,1:27]

,age_years,diastolic-BP,HDL-cholesterol,Kcal-intake,segmented-neutrophils,systolic-BP,calcium-intake,Monocyte-number,Lymphocyte-number,total-cholesterol,...,total-bilurubin,Hemoglobin,Hydroxycotinine,red-blood-cells,MCV,MCH,MCH-conc,white-blood-cells,iron,platelet-count
1,54,61.333333,1.29,5062.0,7.4,157.333333,3193.0,1.0,3.4,4.40,...,0.9,11.9,36.7,3.84,95.4,31.0,32.5,12.6,14.1,314.0
2,72,82.000000,1.55,1743.0,4.9,142.000000,877.0,0.8,1.0,3.26,...,0.6,17.2,49.9,5.53,90.5,31.1,34.3,7.2,17.6,237.0
3,73,86.666667,2.20,1421.0,4.5,137.333333,1410.0,0.5,1.4,5.20,...,0.5,14.5,43.8,4.72,92.8,30.6,33.0,6.6,16.3,300.0
5,61,80.666667,1.50,2585.0,3.0,122.666667,775.0,0.3,1.6,4.34,...,0.6,13.5,39.8,4.66,85.1,28.8,33.8,5.2,12.7,180.0
7,56,72.666667,1.53,1580.0,5.5,122.000000,1125.0,0.7,3.0,7.19,...,0.4,14.3,41.4,4.43,93.5,32.3,34.6,9.5,6.4,296.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5763,52,72.666667,1.42,1225.0,4.4,109.333333,871.0,0.6,1.4,3.57,...,0.7,14.4,41.9,4.48,93.6,32.2,34.4,6.8,16.1,152.0
5764,61,64.000000,1.27,2181.0,3.9,140.000000,1414.0,0.8,2.9,4.81,...,0.7,14.3,40.1,4.05,99.2,35.2,35.5,7.7,15.8,181.0
5765,80,67.333333,1.32,2432.0,4.2,166.666667,1068.0,0.6,1.2,4.06,...,0.5,11.8,34.8,3.72,93.8,31.8,33.9,6.1,15.0,180.0
5767,26,72.666667,1.42,4687.0,2.9,112.666667,3352.0,0.3,1.6,4.91,...,0.9,14.9,45.1,5.07,88.9,29.3,32.9,5.1,13.1,226.0
5768,42,81.333333,1.24,2475.0,3.2,134.666667,1431.0,0.6,2.5,3.93,...,0.2,12.2,37.1,4.16,89.1,29.2,32.8,6.4,8.8,213.0

In [33]:
X = df_no_cvd.iloc[:,1:27].values
X

array([[ 54.        ,  61.33333333,   1.29      , ...,  12.6       ,
         14.1       , 314.        ],
       [ 72.        ,  82.        ,   1.55      , ...,   7.2       ,
         17.6       , 237.        ],
       [ 73.        ,  86.66666667,   2.2       , ...,   6.6       ,
         16.3       , 300.        ],
       ...,
       [ 80.        ,  67.33333333,   1.32      , ...,   6.1       ,
         15.        , 180.        ],
       [ 26.        ,  72.66666667,   1.42      , ...,   5.1       ,
         13.1       , 226.        ],
       [ 42.        ,  81.33333333,   1.24      , ...,   6.4       ,
          8.8       , 213.        ]])

In [34]:
X.shape

(4804, 26)

# MAIN

In [35]:
with open('./Params/model4.json') as f:
    params = json.load(f)
initial_noise_size = params['initial_noise_size'] # How many noise dimensions to sample at the start of the SDE.
noise_size = params['noise_size'] # How many dimensions the Brownian motion has.
hidden_size = params['hidden_size'] # How big the hidden size of the generator SDE and the discriminator CDE are.
mlp_size = params['mlp_size'] # How big the layers in the various MLPs are.
num_layers = params['num_layers'] # How many hidden layers to have in the various MLPs.
# Training hyperparameters. Be prepared to tune these very carefully, as with any GAN.
generator_lr = params['generator_lr'] # Learning rate often needs careful tuning to the problem.
discriminator_lr = params['discriminator_lr'] # Learning rate often needs careful tuning to the problem.
batch_size = params['batch_size'] # Batch size.
steps = params['steps'] # How many steps to train both generator and discriminator for.
init_mult1 = params['init_mult1'] # Changing the initial parameter size can help.
init_mult2 = params['init_mult2']
weight_decay = params['weight_decay'] # Weight decay.
swa_step_start = params['swa_step_start'] # When to start using stochastic weight averaging.
steps_per_print = params['steps_per_print'] # How often to print the loss.
t_size = params['t_size'] 
print(params)

{'initial_noise_size': 15, 'noise_size': 10, 'hidden_size': 24, 'mlp_size': 32, 'num_layers': 1, 'generator_lr': 0.001, 'discriminator_lr': 0.001, 'batch_size': 64, 'steps': 800, 'init_mult1': 3, 'init_mult2': 0.5, 'weight_decay': 0.01, 'swa_step_start': 300, 'steps_per_print': 10, 't_size': 12}

In [36]:
# plotting hyperparameters
# num_plot_samples=50                  # How many samples to use on the plots at the end.
# plot_locs=(0.1, 0.3, 0.5, 0.7, 0.9)  # Plot some marginal distributions at this proportion of the way along.

In [37]:
is_cuda = torch.cuda.is_available()
device = 'cuda' if is_cuda else 'cpu'
if not is_cuda:
    print("Warning: CUDA not available; falling back to CPU but this is likely to be very slow.")

ts = torch.linspace(0, t_size - 1, t_size, device=device)
data_size = X.shape[1]

Warning: CUDA not available; falling back to CPU but this is likely to be very slow.

In [38]:
# dataloader
ys_coeffs = torch.from_numpy(X)
ys_coeffs = ys_coeffs.to(torch.float32)
ys_coeffs = torch.reshape(ys_coeffs,(X.shape[0],1,X.shape[1]))
dataset = torch.utils.data.TensorDataset(ys_coeffs)
train_dataloader = torch.utils.data.DataLoader(dataset, batch_size=batch_size, shuffle=True)

In [39]:
infinite_train_dataloader = (elem for it in iter(lambda: train_dataloader, None) for elem in it)

In [40]:
# Models
generator = Generator(data_size, initial_noise_size, noise_size, hidden_size, mlp_size, num_layers).to(device)
discriminator = Discriminator(data_size, hidden_size, mlp_size, num_layers).to(device)

In [41]:
generator

Generator(
  (_initial): MLP(
    (_model): Sequential(
      (0): Linear(in_features=15, out_features=32, bias=True)
      (1): ReLU()
      (2): Linear(in_features=32, out_features=24, bias=True)
    )
  )
  (_func): GeneratorFunc(
    (_drift): MLP(
      (_model): Sequential(
        (0): Linear(in_features=25, out_features=32, bias=True)
        (1): ReLU()
        (2): Linear(in_features=32, out_features=24, bias=True)
        (3): Tanh()
      )
    )
    (_diffusion): MLP(
      (_model): Sequential(
        (0): Linear(in_features=25, out_features=32, bias=True)
        (1): ReLU()
        (2): Linear(in_features=32, out_features=240, bias=True)
        (3): Tanh()
      )
    )
  )
  (_readout): Linear(in_features=24, out_features=26, bias=True)
  (_absreadout): AbsValue()
)

In [42]:
discriminator

Discriminator(
  (_initial): MLP(
    (_model): Sequential(
      (0): Linear(in_features=26, out_features=32, bias=True)
      (1): LipSwish()
      (2): Linear(in_features=32, out_features=24, bias=True)
      (3): LipSwish()
    )
  )
  (_readout): Linear(in_features=24, out_features=1, bias=True)
)

In [43]:
# Weight averaging really helps with GAN training.
averaged_generator = swa_utils.AveragedModel(generator)
averaged_discriminator = swa_utils.AveragedModel(discriminator)

In [44]:
# Picking a good initialisation is important!
# In this case these were picked by making the parameters for the t=0 part of the generator be roughly the right
# size that the untrained t=0 distribution has a similar variance to the t=0 data distribution.
# Then the func parameters were adjusted so that the t>0 distribution looked like it had about the right variance.
# What we're doing here is very crude -- one can definitely imagine smarter ways of doing things.
# (e.g. pretraining the t=0 distribution)
with torch.no_grad():
    for param in generator._initial.parameters():
        param *= init_mult1
    for param in generator._func.parameters():
        param *= init_mult2

In [45]:
# Optimisers. Adadelta turns out to be a much better choice than SGD or Adam, interestingly.
generator_optimiser = torch.optim.Adadelta(generator.parameters(), lr=generator_lr, weight_decay=weight_decay)
discriminator_optimiser = torch.optim.Adadelta(discriminator.parameters(), lr=discriminator_lr,
                                               weight_decay=weight_decay)

In [46]:
def evaluate_loss(ts, batch_size, dataloader, generator, discriminator):
    with torch.no_grad():
        total_samples = 0
        total_loss = 0
        for real_samples, in dataloader:
            generated_samples = generator(ts, batch_size)
            generated_score = discriminator(generated_samples)
            real_score = discriminator(real_samples)
            loss = generated_score - real_score
            total_samples += batch_size
            total_loss += loss.item() * batch_size
    return total_loss / total_samples

In [47]:
# Train both generator and discriminator.
trange = tqdm.tqdm(range(steps))
for step in trange:
    real_samples, = next(infinite_train_dataloader)

    generated_samples = generator(ts, batch_size)
#     print(generated_samples.shape)
#     print(generated_samples)
    generated_score = discriminator(generated_samples)
    real_score = discriminator(real_samples)
    loss = generated_score - real_score
#     loss.backward()
    loss.backward()
    for param in generator.parameters():
        param.grad *= -1
    generator_optimiser.step()
    discriminator_optimiser.step()
    generator_optimiser.zero_grad()
    discriminator_optimiser.zero_grad()

    ###################
    # We constrain the Lipschitz constant of the discriminator using carefully-chosen clipping (and the use of
    # LipSwish activation functions).
    ###################
    with torch.no_grad():
        for module in discriminator.modules():
            if isinstance(module, torch.nn.Linear):
                lim = 1 / module.out_features
                module.weight.clamp_(-lim, lim)

    # Stochastic weight averaging typically improves performance.
    if step > swa_step_start:
        averaged_generator.update_parameters(generator)
        averaged_discriminator.update_parameters(discriminator)

    if (step % steps_per_print) == 0 or step == steps - 1:
        total_unaveraged_loss = evaluate_loss(ts, batch_size, train_dataloader, generator, discriminator)
        if step > swa_step_start:
            total_averaged_loss = evaluate_loss(ts, batch_size, train_dataloader, averaged_generator.module,
                                                averaged_discriminator.module)
            trange.write(f"Step: {step:3} Loss (unaveraged): {total_unaveraged_loss:.4f} "
                         f"Loss (averaged): {total_averaged_loss:.4f}")
        else:
            trange.write(f"Step: {step:3} Loss (unaveraged): {total_unaveraged_loss:.4f}")
generator.load_state_dict(averaged_generator.module.state_dict())
discriminator.load_state_dict(averaged_discriminator.module.state_dict())

# _, _, test_dataloader = get_data(batch_size=batch_size, device=device)

Step:   0 Loss (unaveraged): 5.5019

Step:  10 Loss (unaveraged): 5.4976

Step:  20 Loss (unaveraged): 5.4245

Step:  30 Loss (unaveraged): 5.4202

Step:  40 Loss (unaveraged): 5.3796

Step:  50 Loss (unaveraged): 5.3170

Step:  60 Loss (unaveraged): 5.2889

Step:  70 Loss (unaveraged): 5.1861

Step:  80 Loss (unaveraged): 5.1853

Step:  90 Loss (unaveraged): 5.0884

Step: 100 Loss (unaveraged): 5.0618

Step: 110 Loss (unaveraged): 4.9808

Step: 120 Loss (unaveraged): 4.9201

Step: 130 Loss (unaveraged): 4.8425

Step: 140 Loss (unaveraged): 4.7973

Step: 150 Loss (unaveraged): 4.7466

Step: 160 Loss (unaveraged): 4.6653

Step: 170 Loss (unaveraged): 4.6442

Step: 180 Loss (unaveraged): 4.5496

Step: 190 Loss (unaveraged): 4.4609

Step: 200 Loss (unaveraged): 4.3819

Step: 210 Loss (unaveraged): 4.3115

Step: 220 Loss (unaveraged): 4.2424

Step: 230 Loss (unaveraged): 4.1632

Step: 240 Loss (unaveraged): 4.0822

Step: 250 Loss (unaveraged): 3.9882

Step: 260 Loss (unaveraged): 3.9254

Step: 270 Loss (unaveraged): 3.8545

Step: 280 Loss (unaveraged): 3.7571

Step: 290 Loss (unaveraged): 3.6861

Step: 300 Loss (unaveraged): 3.5970

Step: 310 Loss (unaveraged): 3.4983 Loss (averaged): 3.5439

Step: 320 Loss (unaveraged): 3.4063 Loss (averaged): 3.4996

Step: 330 Loss (unaveraged): 3.3207 Loss (averaged): 3.4505

Step: 340 Loss (unaveraged): 3.2436 Loss (averaged): 3.4100

Step: 350 Loss (unaveraged): 3.1734 Loss (averaged): 3.3931

Step: 360 Loss (unaveraged): 3.1455 Loss (averaged): 3.3558

Step: 370 Loss (unaveraged): 2.9907 Loss (averaged): 3.2675

Step: 380 Loss (unaveraged): 2.8822 Loss (averaged): 3.2180

Step: 390 Loss (unaveraged): 2.7973 Loss (averaged): 3.1981

Step: 400 Loss (unaveraged): 2.7023 Loss (averaged): 3.1348

Step: 410 Loss (unaveraged): 2.6020 Loss (averaged): 3.0985

Step: 420 Loss (unaveraged): 2.5207 Loss (averaged): 3.0495

Step: 430 Loss (unaveraged): 2.4350 Loss (averaged): 3.0057

Step: 440 Loss (unaveraged): 2.3375 Loss (averaged): 2.9419

Step: 450 Loss (unaveraged): 2.2369 Loss (averaged): 2.9314

Step: 460 Loss (unaveraged): 2.1661 Loss (averaged): 2.8739

Step: 470 Loss (unaveraged): 2.0755 Loss (averaged): 2.8276

Step: 480 Loss (unaveraged): 1.9651 Loss (averaged): 2.8011

Step: 490 Loss (unaveraged): 1.8856 Loss (averaged): 2.7453

Step: 500 Loss (unaveraged): 1.7730 Loss (averaged): 2.6878

Step: 510 Loss (unaveraged): 1.6714 Loss (averaged): 2.6414

Step: 520 Loss (unaveraged): 1.5879 Loss (averaged): 2.6044

Step: 530 Loss (unaveraged): 1.4776 Loss (averaged): 2.5409

Step: 540 Loss (unaveraged): 1.3907 Loss (averaged): 2.4948

Step: 550 Loss (unaveraged): 1.2854 Loss (averaged): 2.4494

Step: 560 Loss (unaveraged): 1.1881 Loss (averaged): 2.4177

Step: 570 Loss (unaveraged): 1.0845 Loss (averaged): 2.3613

Step: 580 Loss (unaveraged): 0.9736 Loss (averaged): 2.3179

Step: 590 Loss (unaveraged): 0.8715 Loss (averaged): 2.2638

Step: 600 Loss (unaveraged): 0.7753 Loss (averaged): 2.2127

Step: 610 Loss (unaveraged): 0.6728 Loss (averaged): 2.1544

Step: 620 Loss (unaveraged): 0.5756 Loss (averaged): 2.1359

Step: 630 Loss (unaveraged): 0.4508 Loss (averaged): 2.0622

Step: 640 Loss (unaveraged): 0.3570 Loss (averaged): 2.0309

Step: 650 Loss (unaveraged): 0.2542 Loss (averaged): 1.9696

Step: 660 Loss (unaveraged): 0.1311 Loss (averaged): 1.9192

Step: 670 Loss (unaveraged): 0.0241 Loss (averaged): 1.8595

Step: 680 Loss (unaveraged): -0.0623 Loss (averaged): 1.8350

Step: 690 Loss (unaveraged): -0.1829 Loss (averaged): 1.7582

Step: 700 Loss (unaveraged): -0.3016 Loss (averaged): 1.7217

Step: 710 Loss (unaveraged): -0.4167 Loss (averaged): 1.6608

Step: 720 Loss (unaveraged): -0.5188 Loss (averaged): 1.6135

Step: 730 Loss (unaveraged): -0.6279 Loss (averaged): 1.5774

Step: 740 Loss (unaveraged): -0.7369 Loss (averaged): 1.5072

Step: 750 Loss (unaveraged): -0.8593 Loss (averaged): 1.4700

Step: 760 Loss (unaveraged): -0.9812 Loss (averaged): 1.4241

Step: 770 Loss (unaveraged): -1.0855 Loss (averaged): 1.3759

Step: 780 Loss (unaveraged): -1.1953 Loss (averaged): 1.3019

Step: 790 Loss (unaveraged): -1.3103 Loss (averaged): 1.2533

Step: 799 Loss (unaveraged): -1.4290 Loss (averaged): 1.2040

100%|████████████████████████████████████████████████████████████████████████████████| 800/800 [15:32<00:00,  1.17s/it]

In [56]:
prova=generator(ts, batch_size=1)
prova.shape
prova=prova[0]
prova[-1]
# torch.abs(prova[-1])

tensor([0.4901, 4.7924, 1.2759, 1.1948, 0.0147, 1.1980, 1.5931, 1.7344, 0.4734,
        3.1585, 1.2853, 0.3574, 3.4455, 2.3832, 3.5705, 3.0833, 2.8024, 0.4094,
        1.0405, 0.8376, 3.7940, 0.6798, 1.4344, 1.4127, 0.4402, 2.8990],
       grad_fn=<SelectBackward0>)

In [103]:
df_no_cvd.iloc[:,1:27].describe()

,age_years,diastolic-BP,HDL-cholesterol,Kcal-intake,segmented-neutrophils,systolic-BP,calcium-intake,Monocyte-number,Lymphocyte-number,total-cholesterol,...,total-bilurubin,Hemoglobin,Hydroxycotinine,red-blood-cells,MCV,MCH,MCH-conc,white-blood-cells,iron,platelet-count
count,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,...,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000,4804.000000
mean,47.236053,69.907007,1.372421,2137.165899,4.320333,122.559075,939.005023,0.578645,2.181603,4.930645,...,0.636920,14.019109,41.440883,4.665445,89.063801,30.120525,33.795296,7.327165,15.065321,237.354496
std,16.922490,11.995715,0.415088,977.959317,1.799988,17.032868,570.352867,0.193089,0.727807,1.063898,...,0.307434,1.511952,4.085633,0.483443,5.913978,2.402744,0.971172,2.249314,6.441898,59.913675
min,20.000000,0.000000,0.260000,193.000000,0.600000,64.666667,18.000000,0.100000,0.400000,1.780000,...,0.100000,6.400000,21.700000,2.660000,55.700000,16.800000,29.200000,2.500000,1.300000,18.000000
25%,33.000000,64.000000,1.090000,1507.000000,3.100000,110.666667,555.000000,0.400000,1.700000,4.220000,...,0.400000,13.100000,38.800000,4.340000,86.200000,29.000000,33.200000,5.800000,10.700000,197.000000
50%,46.000000,70.000000,1.320000,2063.500000,4.000000,120.000000,882.000000,0.600000,2.100000,4.860000,...,0.600000,14.000000,41.400000,4.650000,89.400000,30.400000,33.800000,7.000000,14.300000,231.000000
75%,61.000000,76.666667,1.600000,2549.000000,5.100000,131.333333,1151.000000,0.700000,2.600000,5.530000,...,0.800000,15.000000,44.300000,4.970000,92.700000,31.600000,34.400000,8.500000,18.600000,271.000000
max,80.000000,116.666667,4.470000,12108.000000,25.600000,228.666667,7337.000000,3.400000,12.000000,21.020000,...,7.100000,19.500000,56.500000,7.550000,115.300000,40.000000,43.500000,31.400000,99.800000,669.000000

In [97]:
torch.save(generator.state_dict(), './Models/Model_4/generator')

In [98]:
torch.save(discriminator.state_dict(), './Models/Model_4/discriminator')

In [104]:
def sample_generator():
    samples = generator(ts, batch_size=1)
    samples = samples[0]
    samples = torch.abs(samples[-1])
    return samples.detach().numpy()

In [105]:
def synthtetic_dataset(size=3,df=df_cvd):
    samples=[]
    for i in range(size):
        samples.append(sample_generator())
    dades=np.array(samples)
    return pd.DataFrame(data=dades, columns=df.iloc[:,1:27].columns)

In [106]:
df_synt = synthtetic_dataset(size=500,df=df_no_cvd)

In [107]:
df_synt.describe()

,age_years,diastolic-BP,HDL-cholesterol,Kcal-intake,segmented-neutrophils,systolic-BP,calcium-intake,Monocyte-number,Lymphocyte-number,total-cholesterol,...,total-bilurubin,Hemoglobin,Hydroxycotinine,red-blood-cells,MCV,MCH,MCH-conc,white-blood-cells,iron,platelet-count
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,...,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,1.914968,1.031920,1.544470,1.329063,3.275223,1.740833,1.688010,1.816394,1.162024,1.432224,...,1.238977,1.524613,1.931613,1.369265,1.239718,1.176573,2.141987,1.446839,1.497979,1.867651
std,1.266044,0.824519,1.184543,1.131365,1.988895,1.316178,1.227581,1.223816,0.934505,1.147594,...,1.023362,1.268336,1.152660,1.053090,0.998592,0.917055,1.357192,1.108528,1.174122,1.364729
min,0.012840,0.001831,0.006349,0.008481,0.019813,0.008697,0.003740,0.014750,0.001299,0.012801,...,0.002321,0.011300,0.010111,0.001745,0.010317,0.002559,0.017799,0.011082,0.002840,0.009684
25%,0.975764,0.395653,0.620850,0.471237,1.691584,0.724342,0.669085,0.864973,0.427060,0.527809,...,0.447130,0.589458,1.084834,0.572763,0.458926,0.460358,1.107751,0.599803,0.549705,0.730330
50%,1.705608,0.888677,1.297599,1.105879,3.171234,1.458406,1.467377,1.606681,0.963809,1.143294,...,1.012190,1.187097,1.847470,1.105572,1.026672,0.954905,2.042737,1.233716,1.205529,1.641305
75%,2.625750,1.446095,2.146147,1.850176,4.712743,2.521680,2.392761,2.611535,1.653037,2.027240,...,1.713464,2.154899,2.667426,2.005375,1.722318,1.673808,2.893829,1.979434,2.311998,2.690448
max,6.295349,6.391088,6.103088,6.561033,12.368718,6.386727,6.886555,6.009943,5.585497,6.112229,...,5.684068,8.539933,6.373466,5.474759,5.851344,4.590248,11.632122,5.853847,5.692887,6.777650

In [ ]:
df_no_cvd.iloc[:,1:27].describe()

In [104]:
# # generator = Generator()
# generator.load_state_dict(torch.load('./Models/Model_1/generator'))
# generator.eval()

In [105]:
# discriminator.load_state_dict(torch.load('./Models/Model_1/discriminator'))
# discriminator.eval()

In [106]:
# prova=generator(ts, batch_size=1)
# prova.shape
# prova=prova[0]
# torch.abs(prova[-1])

In [107]:
# df_cvd.iloc[:,1:].describe()

In [108]:
discriminator

Discriminator(
  (_initial): MLP(
    (_model): Sequential(
      (0): Linear(in_features=27, out_features=32, bias=True)
      (1): ReLU()
      (2): Linear(in_features=32, out_features=24, bias=True)
      (3): LipSwish()
    )
  )
  (_readout): Linear(in_features=24, out_features=1, bias=True)
)

# Fidelity

In [71]:
import os.path
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

def bin_data(dt1, dt2, c = 10):
    dt1 = dt1.copy()
    dt2 = dt2.copy()
    # quantile binning of numerics
    num_cols = dt1.dtypes[dt1.dtypes!='object'].index
    for col in num_cols:
        # determine breaks based on `dt1`
        breaks = dt1[col].quantile(np.linspace(0, 1, c+1)).unique()
        dt1[col] = pd.cut(dt1[col], bins=breaks, include_lowest=True).astype(str)
        dt2_vals = pd.to_numeric(dt2[col], 'coerce')
        dt2_bins = pd.cut(dt2_vals, bins=breaks, include_lowest=True).astype(str)
        dt2_bins[dt2_vals < min(breaks)] = '_other_'
        dt2_bins[dt2_vals > max(breaks)] = '_other_'
        dt2[col] = dt2_bins
    # top-C binning of categoricals
    cat_cols = dt1.dtypes[dt1.dtypes=='object'].index
    for col in cat_cols:
        # determine top values based on `dt1`
        top_vals = dt1[col].value_counts().head(c).index.tolist()
        dt1[col].replace(np.setdiff1d(dt1[col].unique().tolist(), top_vals), '_other_', inplace=True)
        dt2[col].replace(np.setdiff1d(dt2[col].unique().tolist(), top_vals), '_other_', inplace=True)
    return [dt1, dt2]

def hellinger(p1, p2):
    return np.sqrt(1 - np.sum(np.sqrt(p1*p2)))

def kullback_leibler(p1, p2):
    idx = p1>0
    return np.sum(p1[idx] * np.log(p1[idx]/p2[idx]))

def jensen_shannon(p1, p2):
    m = 0.5 * (p1 + p2)
    return 0.5 * kullback_leibler(p1, m) + 0.5 * kullback_leibler(p2, m)

def fidelity(dt1, dt2, c = 100, k = 1):
    [dt1_bin, dt2_bin] = bin_data(dt1, dt2, c = c)
    # build grid of all cross-combinations
    cols = dt1.columns
    interactions = pd.DataFrame(np.array(np.meshgrid(cols, cols, cols)).reshape(3, len(cols)**3).T)
    interactions.columns = ['dim1', 'dim2', 'dim3']
    if k == 1:
        interactions = interactions.loc[(interactions['dim1']==interactions['dim2']) & (interactions['dim2']==interactions['dim3'])]
    elif k == 2:
        interactions = interactions.loc[(interactions['dim1']<interactions['dim2']) & (interactions['dim2']==interactions['dim3'])]
    elif k == 3:
        interactions = interactions.loc[(interactions['dim1']<interactions['dim2']) & (interactions['dim2']<interactions['dim3'])]
    else:
        raise('k>3 not supported')

    results = []
    for idx in range(interactions.shape[0]):
        row = interactions.iloc[idx]
        val1 = dt1_bin[row.dim1] + dt1_bin[row.dim2] + dt1_bin[row.dim3]
        val2 = dt2_bin[row.dim1] + dt2_bin[row.dim2] + dt2_bin[row.dim3]
        freq1 = val1.value_counts(normalize=True).to_frame(name='p1')
        freq2 = val2.value_counts(normalize=True).to_frame(name='p2')
        freq = freq1.join(freq2, how='outer').fillna(0.0)
        p1 = freq['p1']
        p2 = freq['p2']
        out = pd.DataFrame({
          'k': k,
          'dim1': [row.dim1], 'dim2': [row.dim2], 'dim3': [row.dim3],
          'tvd': [np.sum(np.abs(p1 - p2)) / 2], 
          'mae': [np.mean(np.abs(p1 - p2))], 
          'max': [np.max(np.abs(p1 - p2))],
          'l1d': [np.sum(np.abs(p1 - p2))],
          'l2d': [np.sqrt(np.sum((p1 - p2)**2))],
          'hellinger': [hellinger(p1, p2)],
          'jensen_shannon': [jensen_shannon(p1, p2)]})
        results.append(out)

    return pd.concat(results)

In [72]:
fidelity(df_cvd.iloc[:,1:28], df_synt, k=2, c=100).agg('mean')

C:\Users\alex.padros\AppData\Local\Temp\4\ipykernel_3704\2156879804.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  fidelity(df_cvd.iloc[:,1:28], df_synt, k=2, c=100).agg('mean')

k                 2.000000
tvd               0.956730
mae               0.005450
max               0.154982
l1d               1.913460
l2d               0.221633
hellinger         0.971616
jensen_shannon    0.656399
dtype: float64

In [136]:
labs_clean.iloc[:,1:]

,LBDHDDSI,LBDTCSI,LBXSUA,LBXSATSI,LBXSASSI,LBDSTPSI,LBDSALSI,LBXSTB,LBXHGB,LBXHCT,...,LBXMCHSI,LBXMC,LBXWBCSI,LBDNENO,LBDLYMNO,LBDMONO,LBDEONO,LBDBANO,LBDSIRSI,LBXPLTSI
0,1.68,4.32,3.3,16.0,16.0,65.0,41.0,0.8,15.2,45.4,...,29.9,33.4,4.7,2.0,2.0,0.5,0.2,0.1,10.4,204.0
1,1.29,4.40,4.7,29.0,18.0,78.0,47.0,0.9,11.9,36.7,...,31.0,32.5,12.6,7.4,3.4,1.0,0.8,0.1,14.1,314.0
2,1.55,3.26,5.7,16.0,22.0,59.0,37.0,0.6,17.2,49.9,...,31.1,34.3,7.2,4.9,1.0,0.8,0.4,0.1,17.6,237.0
4,2.20,5.20,4.2,28.0,36.0,71.0,43.0,0.5,14.5,43.8,...,30.6,33.0,6.6,4.5,1.4,0.5,0.2,0.1,16.3,300.0
5,0.98,5.84,9.1,16.0,24.0,73.0,43.0,0.5,14.2,41.5,...,28.8,34.2,9.4,6.5,1.6,0.6,0.6,0.1,9.3,249.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9802,1.42,3.57,5.7,47.0,24.0,70.0,44.0,0.7,14.4,41.9,...,32.2,34.4,6.8,4.4,1.4,0.6,0.3,0.1,16.1,152.0
9804,1.27,4.81,4.2,23.0,24.0,78.0,41.0,0.7,14.3,40.1,...,35.2,35.5,7.7,3.9,2.9,0.8,0.1,0.0,15.8,181.0
9805,1.32,4.06,6.1,12.0,20.0,60.0,38.0,0.5,11.8,34.8,...,31.8,33.9,6.1,4.2,1.2,0.6,0.1,0.1,15.0,180.0
9808,1.42,4.91,5.3,26.0,27.0,75.0,49.0,0.9,14.9,45.1,...,29.3,32.9,5.1,2.9,1.6,0.3,0.2,0.0,13.1,226.0
9810,1.24,3.93,5.3,13.0,26.0,67.0,41.0,0.2,12.2,37.1,...,29.2,32.8,6.4,3.2,2.5,0.6,0.1,0.0,8.8,213.0

In [137]:
df1 = labs_clean.iloc[:,1:].iloc[:3200]
df2 = labs_clean.iloc[:,1:].iloc[3200:]

In [138]:
df1

,LBDHDDSI,LBDTCSI,LBXSUA,LBXSATSI,LBXSASSI,LBDSTPSI,LBDSALSI,LBXSTB,LBXHGB,LBXHCT,...,LBXMCHSI,LBXMC,LBXWBCSI,LBDNENO,LBDLYMNO,LBDMONO,LBDEONO,LBDBANO,LBDSIRSI,LBXPLTSI
0,1.68,4.32,3.3,16.0,16.0,65.0,41.0,0.8,15.2,45.4,...,29.9,33.4,4.7,2.0,2.0,0.5,0.2,0.1,10.4,204.0
1,1.29,4.40,4.7,29.0,18.0,78.0,47.0,0.9,11.9,36.7,...,31.0,32.5,12.6,7.4,3.4,1.0,0.8,0.1,14.1,314.0
2,1.55,3.26,5.7,16.0,22.0,59.0,37.0,0.6,17.2,49.9,...,31.1,34.3,7.2,4.9,1.0,0.8,0.4,0.1,17.6,237.0
4,2.20,5.20,4.2,28.0,36.0,71.0,43.0,0.5,14.5,43.8,...,30.6,33.0,6.6,4.5,1.4,0.5,0.2,0.1,16.3,300.0
5,0.98,5.84,9.1,16.0,24.0,73.0,43.0,0.5,14.2,41.5,...,28.8,34.2,9.4,6.5,1.6,0.6,0.6,0.1,9.3,249.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4847,1.34,3.78,3.4,24.0,41.0,76.0,50.0,0.9,13.1,37.9,...,32.2,34.5,4.2,2.3,1.4,0.3,0.1,0.0,22.6,183.0
4848,1.32,3.83,4.9,21.0,23.0,68.0,44.0,0.9,14.3,39.2,...,34.1,36.3,7.7,4.7,2.3,0.5,0.2,0.1,30.8,166.0
4851,1.45,6.21,4.7,15.0,20.0,75.0,39.0,0.4,13.3,39.5,...,30.0,33.7,6.0,3.9,1.6,0.4,0.0,0.1,14.0,212.0
4852,1.19,4.65,5.3,42.0,35.0,83.0,45.0,0.5,14.8,42.7,...,28.9,34.5,6.3,2.6,2.9,0.4,0.3,0.0,17.2,263.0
4853,1.16,7.32,5.8,55.0,54.0,74.0,44.0,0.8,15.0,46.4,...,29.9,32.3,6.1,4.0,1.4,0.5,0.1,0.0,13.4,225.0

In [139]:
df2

,LBDHDDSI,LBDTCSI,LBXSUA,LBXSATSI,LBXSASSI,LBDSTPSI,LBDSALSI,LBXSTB,LBXHGB,LBXHCT,...,LBXMCHSI,LBXMC,LBXWBCSI,LBDNENO,LBDLYMNO,LBDMONO,LBDEONO,LBDBANO,LBDSIRSI,LBXPLTSI
4854,1.73,3.34,4.6,53.0,162.0,66.0,43.0,0.4,12.9,36.9,...,31.5,34.9,6.6,3.0,2.6,0.3,0.7,0.0,23.1,139.0
4855,1.24,5.12,6.4,23.0,23.0,63.0,42.0,1.2,14.5,41.3,...,31.5,35.0,5.0,3.1,1.3,0.4,0.1,0.0,13.4,193.0
4859,0.96,5.48,9.1,48.0,36.0,70.0,43.0,1.6,15.8,46.9,...,28.4,33.6,10.9,6.0,4.0,0.6,0.1,0.1,20.2,266.0
4861,1.09,4.22,5.3,19.0,24.0,73.0,41.0,0.8,16.8,48.6,...,32.1,34.5,7.7,3.8,2.9,0.8,0.2,0.0,23.3,285.0
4862,0.80,3.96,6.1,21.0,20.0,63.0,40.0,0.3,10.7,31.0,...,28.2,34.5,11.2,9.0,0.9,0.8,0.5,0.0,8.8,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9802,1.42,3.57,5.7,47.0,24.0,70.0,44.0,0.7,14.4,41.9,...,32.2,34.4,6.8,4.4,1.4,0.6,0.3,0.1,16.1,152.0
9804,1.27,4.81,4.2,23.0,24.0,78.0,41.0,0.7,14.3,40.1,...,35.2,35.5,7.7,3.9,2.9,0.8,0.1,0.0,15.8,181.0
9805,1.32,4.06,6.1,12.0,20.0,60.0,38.0,0.5,11.8,34.8,...,31.8,33.9,6.1,4.2,1.2,0.6,0.1,0.1,15.0,180.0
9808,1.42,4.91,5.3,26.0,27.0,75.0,49.0,0.9,14.9,45.1,...,29.3,32.9,5.1,2.9,1.6,0.3,0.2,0.0,13.1,226.0
9810,1.24,3.93,5.3,13.0,26.0,67.0,41.0,0.2,12.2,37.1,...,29.2,32.8,6.4,3.2,2.5,0.6,0.1,0.0,8.8,213.0

In [141]:
fidelity(df1, df2, k=3, c=100).agg('mean')

C:\Users\alex.padros\AppData\Local\Temp\4\ipykernel_29928\3182218849.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  fidelity(df1, df2, k=3, c=100).agg('mean')

k                 3.000000
tvd               0.797311
mae               0.000345
max               0.001624
l1d               1.594622
l2d               0.024751
hellinger         0.847191
jensen_shannon    0.527467
dtype: float64